.App {
  font-family: Arial, sans-serif;
  color: var(--earth-dark);
  align-items: center;
  text-align: center;
  background-color: var(--earth-light);
}

/*==================================================== Navbar ====================================================*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--earth-green);
  padding: 1rem;
  color: var(--earth-light);
  height: 150px;
  border-bottom: 2px solid var(--earth-dark);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar .atco-logo {
  height: 100px;
  width: 150px;
  border: #000000 1px solid;
}

.navbar h1 {
  font-size: 3rem;
  margin: 0;
}

.navbar ul {
  list-style: none;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

/*==================================================== Navbar ====================================================*/
/*=============================================== Product Container ===============================================*/

.product-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  padding: 2rem;
}

/*=============================================== Product Container ===============================================*/
/*==================================================== Product ====================================================*/

.product {
  aspect-ratio: 1 / 1;
  border: 1px solid var(--earth-brown);
  border-radius: 2px;
  padding: 1rem;
  text-align: center;
  background-color: var(--earth-tan);
  background-size: cover;
  background-position: center;
  position: relative;
  color: var(--earth-light);
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
}

.product .potato-item {
  border-radius: 4px;
  border: #000000 1px solid;
}

/*==================================================== Product ====================================================*/
/*==================================================== Footer ====================================================*/

.footer {
  background-color: var(--earth-brown);
  padding: 1rem;
  color: var(--earth-dark);
}

/*==================================================== Footer ====================================================*/
