.App {
  font-family: Arial, sans-serif;
  color: #262626;
  align-items: center;
  text-align: center;
  background-color: #fafafa;
}

/*==================================================== Navbar ====================================================*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
  padding: 1rem;
  color: #262626;
  height: 150px;
  border-bottom: #000000 1px solid;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/*==================================================== Navbar ====================================================*/
/*=============================================== Product Container ===============================================*/

.product-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  padding: 2rem;
}

/*=============================================== Product Container ===============================================*/
/*==================================================== Product ====================================================*/

.product {
  aspect-ratio: 1 / 1;
  border: 1px solid #000000;
  border-radius: 2px;
  padding: 1rem;
  text-align: center;
  background-color: #fafafa;
}

.product .potato-item {
  border-radius: 4px;
  border: #000000 1px solid;
}

/*==================================================== Product ====================================================*/
/*==================================================== Footer ====================================================*/

.footer {
  background-color: #f1f1f1;
  padding: 1rem;
  margin-top: 2rem;
  color: #777;
}

/*==================================================== Footer ====================================================*/
