:root {
  --primary-green: #53942b;
  --secondary-green: #b3d76c;
  --primary-brown: #dca436;
  --secondary-brown: #dfdc92;
  --primary-blue: #acbbd8;
  --primary-white: #fdfefd;
  --primary-black: #010101;
}

body {
  background-color: var(--secondary-white);
  color: var(--primary-brown);
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}