@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-green: #53942b;
  --secondary-green: #b3d76c;
  --primary-brown: #dca436;
  --secondary-brown: #dfdc92;
  --primary-blue: #acbbd8;
  --primary-white: #fefefd;
  --secondary-white: #e1e9d0;
  --primary-black: #010101;
  --secondary-black: #333333; /* dark gray */
}

body {
  background-color: var(--primary-green);
  color: var(--primary-brown);
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;

}